.dash-content
  position: absolute
  background-color: #f2f3f8
  top: 160px
  padding: 30px 40px 80px 40px
  width: 1000px
  right: 30px

$break-large: 1400px

@media screen and (max-width: $break-large)
  .dash-content
    position: relative
    top: 0px
