<link rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(bootstrapUrl)'>
<link rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(cssUrl)'>

<header>
  <div class="container">
    <a routerLink="/"><img class="logo-img" src="./assets/logo.png"></a>
    <div class="top-bar-div float-right">
      <fa class="top-bar-links" name="search"></fa>
      <fa class="top-bar-links" name="envelope"></fa>
      <fa class="top-bar-links" name="bell"></fa>
      <p class="top-bar-name">{{ 'base.Gretting' | translate }} {{ 'base.ProfileNameShort' | translate }}</p>
      <img class="top-bar-profile" src="./assets/profile.png">
      <a href="#" class="top-bar-button">{{ 'base.NavButton' | translate }}</a>
    </div>
  </div>
</header>
<body class="body">
  <div class="info-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 info-sub-section">
          <img class="info-profile" src="./assets/profile.png">
          <p class="info-profile-name">{{ 'base.ProfileName' | translate }}</p>
          <p class="info-profile-title">{{ 'base.ProfilePosition' | translate }}</p>
          <p class="info-profile-title"><fa class="top-bar-links info-profile-link" name="flag"></fa>{{ 'base.ProfileLocation' | translate }}</p>
          <a href="#" class="top-bar-button inline-block-display info-button">{{ 'base.ProfileButton' | translate }}</a>
        </div>
        <div class="col-md-9 nav-sub-section">
          <nav>
            <ul>
              <li class="nav-links nav-links-selected"><a routerLink="/"><fa class="nav-bar-links nav-bar-links-selected" name="tachometer"></fa>{{ 'base.MenuDashboard' | translate }}</a></li>
              <li class="nav-links"><a routerLink="/education"><fa class="nav-bar-links" name="graduation-cap"></fa>{{ 'base.MenuEducation' | translate }}</a></li>
              <li class="nav-links"><a routerLink="/work"><fa class="nav-bar-links" name="briefcase"></fa>{{ 'base.MenuWork' | translate }}</a></li>
              <li class="nav-links"><a routerLink="/certifications"><fa class="nav-bar-links" name="id-card"></fa>{{ 'base.MenuCertifications' | translate }}</a></li>
              <li class="nav-links"><a routerLink="/skills"><fa class="nav-bar-links" name="bolt"></fa>{{ 'base.MenuSkills' | translate }}</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 about-sub-section">
          <p class="title">{{ 'base.About' | translate }}</p>
          <p class="text">{{ 'base.AboutTextOne' | translate }}</p>
          <p class="text">{{ 'base.AboutTextTwo' | translate }}</p>
          <p class="text">{{ 'base.AboutTextThree' | translate }}</p>
          <p class="text">{{ 'base.AboutTextFour' | translate }}</p>
          <p class="text">{{ 'base.AboutTextFive' | translate }}</p>
          <p class="text">{{ 'base.AboutTextSix' | translate }}</p>
          <div class="container about-icons-container">
            <div class="row about-icons">
              <div class="col-md-4">
                <fa name="users"></fa>
                <p>{{ 'base.AboutTeams' | translate }}</p>
              </div>
              <div class="col-md-4">
                <fa name="shield"></fa>
                <p>{{ 'base.AboutAwards' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="social-links-div">
            <a><fa class="social-links social-links-small" name="facebook"></fa></a>
            <a><fa class="social-links social-links-small" name="tumblr"></fa></a>
            <a><fa class="social-links" name="linkedin"></fa></a>
            <a><fa class="social-links" name="twitter"></fa></a>
            <a><fa class="social-links" name="google"></fa></a>
          </div>
          <p class="about-join">{{ 'base.AboutMembership' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="container">
      <div class="row">
        <div class="nav-footer-section">
          <nav>
            <ul class="nav-footer-links-main">
              <li class="nav-footer-links"><a href="#">{{ 'base.NavZidyia' | translate }}</a></li>
              <li class="nav-footer-links"><a [routerLink]="" (click)="useLanguage('en')">{{ 'base.NavEnglish' | translate }}</a></li>
              <li class="nav-footer-links"><a [routerLink]="" (click)="useLanguage('ar')">{{ 'base.NavArabic' | translate }}</a></li>
              <li class="nav-footer-links"><a href="#">{{ 'base.NavPrivacy' | translate }}</a></li>
              <li class="nav-footer-links"><a href="#">{{ 'base.NavCommunity' | translate }}</a></li>
              <li class="nav-footer-links"><a href="#">{{ 'base.NavFAQ' | translate }}</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</body>


<!-- <h1>{{ 'base.title' | translate }}</h1> -->
