.inline-block-display
  display: inline-block

.logo-img
  width: 100px

.top-bar-div
  display: inline-block
  margin-top: 20px

.top-bar-links
  margin: 0px 10px
  color: grey

.top-bar-name
  display: inline-block
  margin: 0px 10px

.top-bar-profile
  width: 30px
  margin: 0px 10px

.top-bar-button
  background-color: #27a6f5
  padding: 3px 35px 5px
  border-radius: 20px
  color: white
  margin: 0px 10px

.top-bar-button
    &:hover
      text-decoration: none

.info-section
  background-color: #415fd7

.info-sub-section
  padding: 25px 0px
  text-align: center

.info-sub-section
  p
    color: white

.info-profile
  width: 100px

.info-profile-name
  font-size: 18px
  font-weight: 700
  margin-bottom: 0px

.info-profile-title
  font-size: 10px
  font-weight: 100

.info-profile-link
  color: white

.nav-bar-links
  color: white
  margin: 3px

.info-button
  font-size: 10px

.nav-links
  display: inline-block
  margin: 0px 25px
  opacity: 0.7

.nav-links
  a
    color: white

.nav-links
  a
    &:hover
      text-decoration: none

.nav-sub-section
  padding: 25px 0px

.nav-bar-links
  margin: 0px 15px
  color: #27a6f5

.nav-bar-links-selected
  color: white

.nav-links-selected
  opacity: 1

.about-sub-section
  padding: 25px 0px

.about-sub-section
  p
    color: black

.about-sub-section
  .title
    font-weight: 700

.about-sub-section
  .text
    font-size: 15px
    margin-bottom: 0px

.about-icons
  .col-md-4
    padding: 0px

.about-icons-container
  margin-top: 25px

.social-links
  background-color: #27a6f5
  padding: 11px 15px
  border-radius: 21px
  color: white
  margin-right: 5px

.social-links-small
  padding: 11px 17px

.social-links-div
  margin-top: 20px

.about-join
    margin-top: 50px
    font-size: 15px

.about-section
  background-color: #f8f7fc

.nav-footer-links
  display: inline-block
  margin-right: 30px

.nav-footer-links
  a
    color: #ababab
    font-size: 12px

.nav-footer-links-main
  padding: 10px 0px
  margin: 0px

.nav-footer-links
  a
    &:hover
      text-decoration: none
