<div class="container dash-content">
  <div class="row">
    <div class="col-md-6">
      <p>{{ 'base.MenuEducation' | translate }}<fa class="block-links" name="edit"></fa></p>
      <div class="dash-block">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path class="circle"
            stroke-dasharray="94, 100"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"/>
        </svg>
        <div class="dash-text">
          <p>{{ 'base.MenuEducation' | translate }} {{ 'base.Done' | translate }}</p>
          <p>2 {{ 'base.Pending' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p>{{ 'base.MenuWork' | translate }}<fa class="block-links" name="edit"></fa></p>
      <div class="dash-block">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path class="circle"
            stroke-dasharray="54, 100"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"/>
        </svg>
        <div class="dash-text">
          <p>{{ 'base.MenuWork' | translate }} {{ 'base.Done' | translate }}</p>
          <p>2 {{ 'base.Pending' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col-md-6">
      <p>{{ 'base.MenuCertifications' | translate }}<fa class="block-links" name="edit"></fa></p>
      <div class="dash-block">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path class="circle"
            stroke-dasharray="90, 100"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"/>
        </svg>
        <div class="dash-text">
          <p>{{ 'base.MenuCertifications' | translate }} {{ 'base.Done' | translate }}</p>
          <p>1 {{ 'base.Pending' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p>{{ 'base.MenuSkills' | translate }}<fa class="block-links" name="edit"></fa></p>
      <div class="dash-block">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path class="circle"
            stroke-dasharray="80, 100"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"/>
        </svg>
        <div class="dash-text">
          <p>{{ 'base.MenuSkills' | translate }} {{ 'base.Done' | translate }}</p>
          <p>2 {{ 'base.Pending' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
