.dash-content
  position: absolute
  background-color: #f2f3f8
  top: 160px
  padding: 30px 40px 80px 40px
  width: 1000px
  right: 30px

.circular-chart
  display: inline-block
  margin: 10px auto
  width: 100px

.circle
  stroke: white
  fill: none
  stroke-width: 1.8
  stroke-linecap: round
  animation: progress 1s ease-out forwards

@keyframes progress
  0%
    stroke-dasharray: 0 100

.dash-text
  display: inline-block
  margin-left: 40px
  vertical-align: middle

.dash-block
  background-color: #4bc4d9
  border-radius: 10px
  padding: 10px 20px

.dash-text
  p
    color: white
    margin-bottom: 0px

.bottom-row
  margin-top: 35px

.block-links
  margin-left: 10px

$break-large: 1400px

@media screen and (max-width: $break-large)
  .dash-content
    position: relative
    top: 0px
