.body {
  direction: rtl;
}

.social-links {
  margin-right: 0px;
  margin-left: 5px;
}

.nav-footer-links {
  margin-right: 0px;
  margin-ledt: 30px;
}

.dash-content {
  right: auto !important;
  left: 30px;
}

.dash-block {
  direction: rtl;
}

.dash-text {
  margin-left: 0px;
  margin-right: 40px;
}
